<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>co.certainplace.launchbar.Incognito</string>
	<key>CFBundleName</key>
	<string>Google Chrome Incognito</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleIconFile</key>
	<string>com.google.Chrome</string>
	<key>LBRequiredApplication</key>
	<string>com.google.Chrome</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBTextInputTitle</key>
	<string>URL</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.scpt</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Open URLs in Google Chrome's Incognito mode.</string>
		<key>LBAuthor</key>
		<string>Chris Smith</string>
		<key>LBWebsite</key>
		<string>https://github.com/chrisfsmith/launchbar</string>
		<key>LBTwitter</key>
		<string>@logicfault</string>
		<key>LBArgument</key>
		<string>URL to open</string>
		<key>LBRequirements</key>
		<string>Requires Google Chrome</string>
	</dict>
</dict>
</plist>
